body {
    background-color:honeydew;
}
h1, a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    font-size: larger;
    position: relative;
    margin-top: 20%;
}
